* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #333;
}
/*gloabal rules start*/
html {
  scroll-behavior: smooth;
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1400px) {
  .container {
    width: 1070px;
  }
}
/*gloabal rules end*/
.head {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #111;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  margin-block: 5px;
  transition: 0.3s;
}
input:focus {
  background-color: #000;
  transform: scale(1.05);
}

.price {
  display: flex;
}

.price input {
  margin: 0 5px;
}

#total {
  background-color: red;
  padding: 4px 2px;
  border-radius: 2px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  background-color: #4700c3;
  color: #fff;
  border: none;
  outline: none;
  transition: 0.3s;
  padding: 10px 5px;
  border-radius: 15px;
  margin-block: 5px;
}
button:hover {
  background-color: #4700fa;
  letter-spacing: 1px;
}
.searchbtn {
  display: flex;
  justify-content: space-between;
}
.searchbtn button {
  flex-basis: 45%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
